<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.name %></h3>
    <p>
      Thank you for contacting us!
      We will get back to you as soon as possible. If you don't hear back from someone within 48 hours, you can contact me directly at Adam@AdventureMarketing.org.
    </p>
    <p>
      Thanks! <br>
      Adam
    </p>
  </body>
</html>
